# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\17-project-perso\connect-raven-db\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
